@import '../../../../../assets/scss/_globals';

:host {
  footer {

    height: 56px;
    background: transparent;
    color: white;
    // color: #151556;
    // padding: 16px;
    // bottom: 0;
    // right: 0;
    // left: 0;
    // position: absolute;
  }
}
