<div>
  <h4 fxFlex fxLayoutAlign="center">Forgot Password</h4>
</div>
<div fxLayout="column" fxLayoutAlign="space-between center"  class="forgot-container">

  <form [formGroup]="forgotpasswordForm" (submit)="forgotpassword()">
    <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center">
      <input formControlName="email" placeholder="Email">
      <mat-error *ngIf="forgotpasswordForm.touched && getErrors('email') | async as error">{{ error }}</mat-error>
      <button class="signin-button" type="submit" [class.valid-button]="forgotpasswordForm.valid" [disabled]="forgotpasswordForm.invalid">Submit</button>
    </div>
    <mat-error *ngIf="errorHttpResponse">{{ problem }}</mat-error>
  </form>
</div>
