@import '../../../../../../assets/scss/_globals';

:host {

  h4 {
    color: white;
  }

  .forgot-container {
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-image: url('../../../../../../assets/images/bg_form.png');
    background-size: cover;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 50px;
    margin-right: 50px;

  }

  input {

    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    padding: 16px;
    margin-bottom: 16px;
  }


  
  button {

    font-family: Raleway;
    padding: 16px;
    border-radius: 5px;
    background-color: transparent;
  }

  ::placeholder {
    color: gray;
    font-size: 12px;
  }

  .valid-button {
    background-color: white;
  }
}