<div>
  <h4 fxFlex fxLayoutAlign="center">Reset Password</h4>
</div>
<div fxLayout="column" fxLayoutAlign="space-between center"  class="reset-container">

  <form [formGroup]="resetpasswordForm" (submit)="resetpassword()">
   <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="center">
      <input fxFlex="0 1 40%" fxFlex.lt-sm="100%" type="password" formControlName="newpassword" placeholder="nouveau mot de passe">
      <mat-error *ngIf="resetpasswordForm.touched && getErrors('newpassword') | async as error">{{ error }}</mat-error>
      <input fxFlex="0 1 40%" fxFlex.lt-sm="100%" type="password" formControlName="confpassword" placeholder="confirmer le nouveau mot de passe">
      <mat-error *ngIf="resetpasswordForm.touched && getErrors('confpassword') | async as error">{{ error }}</mat-error>
      <button fxFlex="0 1 33.3%" fxFlex.lt-sm="100%" type="submit" [class.valid-button]="resetpasswordForm.valid" [disabled]="resetpasswordForm.invalid" >Submit</button>
    </div>
    <mat-error *ngIf="errorHttpResponse">{{ problem }}</mat-error>
  </form>
</div>
