/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


// :host {

//     // html,
//     // body {
//     //   margin: 0;
//     //   padding: 0;
//     //   height: 100%;
//     // }

//     // .fxFlex {
//     //   box-sizing: border-box;
//     //   display: flex;
//     //   flex: 1 1 1e-09px;
//     // }
// }